@tailwind base;
@tailwind components;
@tailwind utilities; 
 
:root { 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #E3EBF4;
}

/** Notion blog styles **/
.notion_page_body {
  @apply px-4 max-w-2xl mx-auto
}

.notion_image {
  @apply m-auto sm:max-w-xs
}

.notion_heading_2 {
  @apply my-2 md:my-4 !important
}

.notion_paragraph {
  @apply leading-6
}

.notion_divider {
  @apply my-4 md:my-6 !important
} 

.notion_image {
  @apply my-2 md:my-4 !important
}

.notion_video {
  @apply max-w-sm mx-auto w-full
}
 
.notion_caption {
  @apply block text-center text-sm text-dillon-blue font-bold 
}

.notion_quote {
  @apply leading-6
}

.notion_bulleted_list_container {
  @apply leading-4
}

/** Loading spinner animation **/
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: spin 2s infinite linear;
}